<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">Una simple aplicación desarrolada con Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>Aqui el link del codigo del proyecto</p>
  <a class="btn btn-primary btn-lg" href="https://gitlab.com/JoelMendozaP/nodejs-notes-app" role="button">Joel Mendoza</a>
</div>
